<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>HAMBURGUESA</title>
    <link rel="stylesheet" href="ham.css">
</head>

<body>

    <header class="hd1">
        <h1 class="bt1"> BELLOS </h1>
        <button class="dt1" id="ind1">
            <h1>INICIO</h1>
        </button>
    </header>

    <main class="mn1">
        <div class="card-1">
            <section class="inf-ig">
                <img src="" alt="" class="ig-1">


            </section>
            <section class="inf-pd">
                <h1 class="pd-1"> HAMBURGUESA </h1>
                <h2 class="pd-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam accusamus officiis  in a est, inventore quam rem faciliofficia sequi!</h2>
                <div class="pd-3">
                    <button class="pd-4">
                        <h2> COMPRAR</h2>
                    </button>
                </div>
            </section>
        </div>
    </main>

    <footer class="ft1">
        <h1> PAGINA ECHA POR:</h1>
        <div>
            <h2>Juan Lopez Y Felipe Garcia</h2>
        </div>
    </footer>
</body>

<script type="module" src="ham.js"></script>
</html>